configuration {
  modi: "window,run,drun,ssh";
  font: "FiraCode Nerd Font 12";
  terminal: "alacritty";
  disable-history: false;
  sidebar-mode: false;
  max-history-size: 50;
  display-drun: "Applications";
  display-run: "Run";
  display-window: "Window";
  display-ssh: "SSH";
  matching: "fuzzy";

  timeout {
    action: "kb-cancel";
    delay: 5;
  }

  filebrowser {
    directories-first: true;
    sorting-method: "name";
  }
}

@import "~/.config/rofi/themes/catppuccin.rasi"
